@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@{ ViewData["Title"] = "Administrator Page"; }



<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>الاعمال الخاصه بالادمن </h1>

            </div>
        </div>


        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-user-times"></i></div>
                    <h4 class="title">
                        <a href="~/Identity/Account/Manage/DeletePersonalData">حذف عضو</a>

                    </h4>
                    <p class="description"> يتم حذف عضو .من الطلاب وجميع البيانات الخاصه به </p>
                </div>
            </div>



            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fas fa-edit"></i></div>
                    <h4 class="title">
                        <a href="~/Identity/Account/ForgotPassword">إعاده ضبط كلمه السر </a><br>
                    </h4>

                    <p class="description">اعاده ضبط كلمه السر وهذا في حاله ان هناك عضو لم يتذكر كلمه السر الخاصه بحسابه<p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="far fa-address-card"></i></div>
                    <h4 class="title">
                        <a href="~/Identity/Account/Register">تسجيل عضو جديد</a><br>
                    </h4>
                    <p class="description">تسجيل عضو جديد مع ادراج جميع البيانات الخاصه به </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Hero -->
